interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/marketplace_listing/stubbed/plans
  response:
    body:
      string: '[{"url":"https://api.github.com/marketplace_listing/plans/3267","accounts_url":"https://api.github.com/marketplace_listing/plans/3267/accounts","id":3267,"number":3,"name":"Pro","description":"A
        professional-grade CI solution","monthly_price_in_cents":1099,"yearly_price_in_cents":11870,"has_free_trial":false,"price_model":"flat-rate","state":"published","unit_name":null,"bullets":["This
        is the first bullet of the Pro plan","This is the second bullet of the Pro
        plan"]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f730eb63a60ae54aa937da5aa61c0d54"
      Status:
      - 200 OK
      X-GitHub-Media-Type:
      - github.v3; param=valkyrie-preview; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1579978815'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/marketplace_listing/stubbed/plans/3267/accounts?page=1
  response:
    body:
      string: '[{"url":"https://api.github.com/orgs/github","type":"Organization","id":4,"login":"github","email":null,"organization_billing_email":"billing@github.com","marketplace_pending_change":null,"marketplace_purchase":{"billing_cycle":"monthly","next_billing_date":"2020-02-01T00:00:00.000Z","on_free_trial":false,"free_trial_ends_on":null,"unit_count":12,"updated_at":"2020-01-13T00:00:00.000Z","plan":{"url":"https://api.github.com/marketplace_listing/plans/3267","accounts_url":"https://api.github.com/marketplace_listing/plans/3267/accounts","id":3267,"number":3,"name":"Pro","description":"A
        professional-grade CI solution","monthly_price_in_cents":1099,"yearly_price_in_cents":11870,"has_free_trial":false,"price_model":"flat-rate","state":"published","unit_name":null,"bullets":["This
        is the first bullet of the Pro plan","This is the second bullet of the Pro
        plan"]}}},{"url":"https://api.github.com/users/test","type":"User","id":2,"login":"test","email":"test@example.com","marketplace_pending_change":{"id":12,"unit_count":12,"plan":{"url":"https://api.github.com/marketplace_listing/plans/2147","accounts_url":"https://api.github.com/marketplace_listing/plans/2147/accounts","id":2147,"number":2,"name":"Hobby","description":"A
        hobby-grade CI solution","monthly_price_in_cents":1099,"yearly_price_in_cents":11870,"has_free_trial":false,"price_model":"per-unit","state":"published","unit_name":"seat","bullets":["This
        is the first bullet of the Hobby plan","This is the second bullet of the Hobby
        plan"]},"effective_date":"2020-02-01T00:00:00.000Z"},"marketplace_purchase":{"billing_cycle":"monthly","next_billing_date":"2020-02-01T00:00:00.000Z","on_free_trial":false,"free_trial_ends_on":null,"unit_count":12,"updated_at":"2020-01-13T00:00:00.000Z","plan":{"url":"https://api.github.com/marketplace_listing/plans/2147","accounts_url":"https://api.github.com/marketplace_listing/plans/2147/accounts","id":2147,"number":2,"name":"Hobby","description":"A
        hobby-grade CI solution","monthly_price_in_cents":1099,"yearly_price_in_cents":11870,"has_free_trial":false,"price_model":"per-unit","state":"published","unit_name":"seat","bullets":["This
        is the first bullet of the Hobby plan","This is the second bullet of the Hobby
        plan"]}}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6ac56d589bf99d5d30030d9c200d5ea5"
      Status:
      - 200 OK
      X-GitHub-Media-Type:
      - github.v3; param=valkyrie-preview; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '3200'
      X-RateLimit-Reset:
      - '1579987188'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/user/4?client_id=testiouu71gdynyqxzk4&client_secret=3b4ab5b18be7155fdbb739e7f1ae277222fb12db
  response:
    body:
      string: '{"login":"wycats","id":4,"node_id":"MDQ6VXNlcjQ=","avatar_url":"https://avatars0.githubusercontent.com/u/4?v=4","gravatar_id":"","url":"https://api.github.com/users/wycats","html_url":"https://github.com/wycats","followers_url":"https://api.github.com/users/wycats/followers","following_url":"https://api.github.com/users/wycats/following{/other_user}","gists_url":"https://api.github.com/users/wycats/gists{/gist_id}","starred_url":"https://api.github.com/users/wycats/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wycats/subscriptions","organizations_url":"https://api.github.com/users/wycats/orgs","repos_url":"https://api.github.com/users/wycats/repos","events_url":"https://api.github.com/users/wycats/events{/privacy}","received_events_url":"https://api.github.com/users/wycats/received_events","type":"User","site_admin":false,"name":"Yehuda
        Katz","company":"Tilde, Inc.","blog":"http://yehudakatz.com","location":"San
        Francisco","email":"wycats@gmail.com","hireable":null,"bio":null,"public_repos":225,"public_gists":751,"followers":9467,"following":4,"created_at":"2008-01-12T05:38:33Z","updated_at":"2020-01-20T22:06:21Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"0fe5c11b8816ba2e6280232d653389b9"
      Last-Modified:
      - Mon, 20 Jan 2020 22:06:21 GMT
      Status:
      - 200 OK
      X-GitHub-Media-Type:
      - github.v3; param=valkyrie-preview; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4975'
      X-RateLimit-Reset:
      - '1579988452'
    status:
      code: 200
      message: OK
[...]
