https://github.com/codecov/opentelem-python/archive/refs/tags/v0.0.4a1.tar.gz#egg=codecovopentelem
https://github.com/codecov/test-results-parser/archive/5515e960d5d38881036e9127f86320efca649f13.tar.gz#egg=test-results-parser
https://github.com/codecov/timestring/archive/d37ceacc5954dff3b5bd2f887936a98a668dda42.tar.gz#egg=timestring
https://github.com/photocrowd/django-cursor-pagination/archive/f560902696b0c8509e4d95c10ba0d62700181d84.tar.gz
aiodataloader
analytics-python==1.3.0b1
ariadne
ariadne_django
boto3>=1.34
cachetools
celery>=5.3.6
cerberus
certifi>=2023.07.22
click
codecov-ribs
colour>=0.1.5
coverage
cryptography>=42.0.4
ddtrace
django>=4.2.10,<5.0
django-admin
django-autocomplete-light
django-better-admin-arrayfield
django-cors-headers
django-csp
django-dynamic-fixture
django-filter
django-model-utils==4.3.1
django-postgres-extra>=2.0.8
django-prometheus
djangorestframework
drf-spectacular
drf-spectacular-sidecar
elastic-apm
factory-boy
fakeredis
freezegun
google-auth>=2.21.0
google-cloud-pubsub>=2.13.6
google-cloud-storage>=2.10.0
gunicorn>=22.0.0
httpx>=0.23.0
idna>=3.7
ijson==3.*
jinja2>=3.1.3
lxml>=4.9.1
minio~=7.0
mmh3
mock
oauth2
oauthlib
openai
opentelemetry-instrumentation-celery>=0.45b0
opentelemetry-instrumentation-django>=0.45b0
opentelemetry-sdk>=1.24.0
opentracing
pre-commit
prometheus-client
protobuf>=4.21.6
psycopg2>=2.9.3
PyJWT>=2.4.0
pytest>=7.2.0
pytest-asyncio
pytest-cov
pytest-celery
pytest-django
pytest-freezegun
pytest-mock
pytest-sqlalchemy
python-dateutil
python-json-logger
python-redis-lock
pytz
PyYAML
redis>=4.4.4
regex
requests==2.31.0
respx
sentry-sdk>=1.40.0
sentry-sdk[celery]
setproctitle
simplejson
sqlalchemy==1.*
SQLAlchemy-Utils
statsd>=3.3.0
stripe
tlslite-ng>=0.8.0b1
typing
typing_extensions
urllib3>=1.26.18,<1.27
vcrpy
whitenoise