{% extends "admin/change_list.html" %}
{% load admin_urls %}

{# Surface the M6 "Clear by scope…" link in the changelist's toolbar
   ("object-tools"). Only superusers see the link because the
   underlying view (and `redis_delete` service) refuses non-superusers
   anyway, so showing the link to a staff user would just lead to a
   PermissionDenied. #}
{% block object-tools-items %}
  {{ block.super }}
  {% if request.user.is_superuser %}
    <li>
      <a href="{% url cl.opts|admin_urlname:'clear_by_scope' %}" class="addlink">
        Clear by scope&hellip;
      </a>
    </li>
  {% endif %}
{% endblock %}
