interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/user/workspaces
  response:
    content: '{"pagelen": 50, "values": [{"type": "workspace_access", "workspace":
      {"type": "workspace_base", "slug": "thiagorramostestnumbar3", "uuid": "{d7c73e87-90ab-450f-bb5f-39e6a5870456}",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/thiagorramostestnumbar3"},
      "avatar": {"href": "https://bitbucket.org/workspaces/thiagorramostestnumbar3/avatar/"}}}},
      {"type": "workspace_access", "workspace": {"type": "workspace_base", "slug":
      "thiagorramostest2", "uuid": "{33b5f87a-bda0-40c2-ba1b-9eb892492290}", "links":
      {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/thiagorramostest2"},
      "avatar": {"href": "https://bitbucket.org/workspaces/thiagorramostest2/avatar/"}}}},
      {"type": "workspace_access", "workspace": {"type": "workspace_bas[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories?role=member&page=1
  response:
    content: '{"pagelen": 10, "values": [{"type": "repository", "name": "example-python",
      "full_name": "ThiagoCodecov/example-python", "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}",
      "is_private": true, "scm": "git", "language": "", "owner": {"type": "user",
      "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}", "nickname": "ThiagoCodecov"}}],
      "page": 1, "size": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/thiagocodecovbanana?page=1
  response:
    content: '{"pagelen": 10, "values": [], "page": 1, "size": 0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DC-Location:
      - ash2
      ETag:
      - '"e671435b14693e94f294247ac6f96b5f"'
      X-Accepted-OAuth-Scopes:
      - repository
      X-Credential-Type:
      - oauth1
      X-Dc-Location:
      - ash2
      X-OAuth-Scopes:
      - webhook, snippet, issue, pullrequest:write, repository:delete, repository:admin,
        project, team, account
      X-Render-Time:
      - '0.0550200939178'
      X-Request-Count:
      - '1340'
      X-Static-Version:
      - 937e1df6c57f
      X-Version:
      - 937e1df6c57f
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/ThiagoCodecov?page=1
  response:
    content: '{"pagelen": 10, "values": [{"scm": "git", "website": "", "has_wiki":
      false, "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}", "links": {"watchers":
      {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/watchers"},
      "branches": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/refs/branches"},
      "tags": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/refs/tags"},
      "commits": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commits"},
      "clone": [{"href": "https://ThiagoCodecov@bitbucket.org/ThiagoCodecov/example-python.git",
      "name": "https"}, {"href": "git@bitbucket.org:ThiagoCodecov/example-python.git",
      "name": "ssh"}], "self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
      "source": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/src"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"},
      "hooks": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/hooks"},
      "forks": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/forks"},
      "downloads": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/downloads"},
      "pullrequests": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/pullrequests"}},
      "fork_policy": "no_public_forks", "full_name": "ThiagoCodecov/example-python",
      "name": "example-python", "project": {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/workspaces/ThiagoCodecov/projects/PROJ"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/workspace/projects/PROJ"},
      "avatar": {"href": "https://bitbucket.org/account/user/ThiagoCodecov/projects/PROJ/avatar/32?ts=1543758107"}},
      "type": "project", "name": "Untitled project", "key": "PROJ", "uuid": "{ceb7caa9-0c9c-4391-8423-ed9dc36a2575}"},
      "language": "", "created_on": "2018-11-06T12:53:06.587605+00:00", "mainbranch":
      {"type": "branch", "name": "main"}, "workspace": {"slug": "ThiagoCodecov",
      "type": "workspace", "name": "Thiago Ramos", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/workspaces/ThiagoCodecov"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/"}, "avatar": {"href":
      "https://bitbucket.org/workspaces/ThiagoCodecov/avatar/?ts=1543758107"}}, "uuid":
      "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}"}, "has_issues": false, "owner": {"display_name":
      "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}", "links": {"self":
      {"href": "https://bitbucket.org/!api/2.0/users/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D"},
      "html": {"href": "https://bitbucket.org/%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D/"},
      "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/TR-6.png"}},
      "nickname": "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"},
      "updated_on": "2020-12-02T12:33:17.882179+00:00", "size": 550781, "type": "repository",
      "slug": "example-python", "is_private": true, "description": ""}], "page": 1,
      "size": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DC-Location:
      - ash2
      ETag:
      - '"gz[85f91cb12cf323880c2a4fb16c92015e]"'
      X-Accepted-OAuth-Scopes:
      - repository
      X-Credential-Type:
      - oauth1
      X-Dc-Location:
      - ash2
      X-OAuth-Scopes:
      - webhook, snippet, issue, pullrequest:write, repository:delete, repository:admin,
        project, team, account
      X-Render-Time:
      - '0.0602920055389'
      X-Request-Count:
      - '874'
      X-Static-Version:
      - 937e1df6c57f
      X-Version:
      - 937e1df6c57f
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/thiagorramosworkspace?page=1
  response:
    content: '{"pagelen": 10, "values": [], "page": 1, "size": 0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DC-Location:
      - ash2
      ETag:
      - '"e671435b14693e94f294247ac6f96b5f"'
      X-Accepted-OAuth-Scopes:
      - repository
      X-Credential-Type:
      - oauth1
      X-Dc-Location:
      - ash2
      X-OAuth-Scopes:
      - webhook, snippet, issue, pullrequest:write, repository:delete, repository:admin,
        project, team, account
      X-Render-Time:
      - '0.0422210693359'
      X-Request-Count:
      - '1481'
      X-Static-Version:
      - 937e1df6c57f
      X-Version:
      - 937e1df6c57f
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/thiagorramostestnumbar3?page=1
  response:
    content: '{"pagelen": 10, "values": [], "page": 1, "size": 0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DC-Location:
      - ash2
      ETag:
      - '"e671435b14693e94f294247ac6f96b5f"'
      X-Accepted-OAuth-Scopes:
      - repository
      X-Credential-Type:
      - oauth1
      X-Dc-Location:
      - ash2
      X-OAuth-Scopes:
      - webhook, snippet, issue, pullrequest:write, repository:delete, repository:admin,
        project, team, account
      X-Render-Time:
      - '0.0395669937134'
      X-Request-Count:
      - '1074'
      X-Static-Version:
      - 937e1df6c57f
      X-Version:
      - 937e1df6c57f
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/thiagorramostest2?page=1
  response:
    content: '{"pagelen": 10, "values": [], "page": 1, "size": 0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DC-Location:
      - ash2
      ETag:
      - '"e671435b14693e94f294247ac6f96b5f"'
      X-Accepted-OAuth-Scopes:
      - repository
      X-Credential-Type:
      - oauth1
      X-Dc-Location:
      - ash2
      X-OAuth-Scopes:
      - webhook, snippet, issue, pullrequest:write, repository:delete, repository:admin,
        project, team, account
      X-Render-Time:
      - '0.0545430183411'
      X-Request-Count:
      - '1688'
      X-Static-Version:
      - 937e1df6c57f
      X-Version:
      - 937e1df6c57f
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/thiagorramosanotherw?page=1
  response:
    content: '{"pagelen": 10, "values": [], "page": 1, "size": 0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DC-Location:
      - ash2
      ETag:
      - '"e671435b14693e94f294247ac6f96b5f"'
      X-Accepted-OAuth-Scopes:
      - repository
      X-Credential-Type:
      - oauth1
      X-Dc-Location:
      - ash2
      X-OAuth-Scopes:
      - webhook, snippet, issue, pullrequest:write, repository:delete, repository:admin,
        project, team, account
      X-Render-Time:
      - '0.0421149730682'
      X-Request-Count:
      - '2539'
      X-Static-Version:
      - 937e1df6c57f
      X-Version:
      - 937e1df6c57f
    status_code: 200
version: 1
