interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/user/workspaces
  response:
    content: '{"pagelen": 50, "values": [{"slug": "thiagorramostestnumbar3", "type":
      "workspace", "name": "thiagorramostestnumbar3", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/workspaces/thiagorramostestnumbar3"},
      "html": {"href": "https://bitbucket.org/thiagorramostestnumbar3/"}, "avatar":
      {"href": "https://bitbucket.org/workspaces/thiagorramostestnumbar3/avatar/?ts=1617373497"}},
      "uuid": "{d7c73e87-90ab-450f-bb5f-39e6a5870456}"}, {"slug": "thiagorramostest2",
      "type": "workspace", "name": "ThiagoRRamostest2", "links": {"self": {"href":
      "https://bitbucket.org/!api/2.0/workspaces/thiagorramostest2"}, "html": {"href":
      "https://bitbucket.org/thiagorramostest2/"}, "avatar": {"href": "https://bitbucket.org/workspaces/thiagorramostest2/avatar/?ts=1617373390"}},
      "uuid": "{33b5f87a-bda0-40c2-ba1b-9eb892492290}"}, {"slug": "thiagorramosanotherw",
      "type": "wor[...]
