interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/user/workspaces
  response:
    content: '{"pagelen": 50, "values": [{"type": "workspace_access", "workspace":
      {"type": "workspace_base", "slug": "thiagorramostestnumbar3", "uuid": "{d7c73e87-90ab-450f-bb5f-39e6a5870456}",
      "links": {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/thiagorramostestnumbar3"},
      "avatar": {"href": "https://bitbucket.org/workspaces/thiagorramostestnumbar3/avatar/"}}}},
      {"type": "workspace_access", "workspace": {"type": "workspace_base", "slug":
      "thiagorramostest2", "uuid": "{33b5f87a-bda0-40c2-ba1b-9eb892492290}", "links":
      {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/thiagorramostest2"},
      "avatar": {"href": "https://bitbucket.org/workspaces/thiagorramostest2/avatar/"}}}},
      {"type": "workspace_access", "workspace": {"type": "workspace_bas[...]
