interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories?role=member&page=1
  response:
    content: '{"pagelen": 10, "values": [{"type": "repository", "name": "ci-repo",
      "full_name": "codecov/ci-repo", "uuid": "{a980e378-088f-48a8-9850-98923f497546}",
      "is_private": true, "scm": "git", "language": "", "owner": {"type": "team",
      "uuid": "{e7a58008-2bdf-4e57-96ae-25e7fe9d4dc5}", "nickname": "codecov"}},
      {"type": "repository", "name": "private", "full_name": "codecov/private",
      "uuid": "{3edf54ab-cfe4-4049-aa70-5eb9f69f60d4}", "is_private": true, "scm":
      "git", "language": "python", "owner": {"type": "team", "uuid": "{e7a58008-2bdf-4e57-96ae-25e7fe9d4dc5}",
      "nickname": "codecov"}}, {"type": "repository", "name": "coverage.py", "full_name":
      "codecov/coverage.py", "uuid": "{d08f4587-489f-4b55-abad-3d4f396d9862}", "is_private":
      false, "scm": "git", "l[...]
