interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.bitbucket.org/2.0/workspaces/ThiagoRRamosworkspace/permissions?q=permission%3D%22owner%22+AND+user.uuid%3D%22%7B9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645%7D%22
  response:
    content: '{"pagelen": 50, "values": [{"permission": "owner", "user": {"display_name":
      "Thiago Ramos", "uuid": "{9a01f37b-b1b2-40c5-8c5e-1a39f4b5e645}", "nickname":
      "thiago", "type": "user", "account_id": "5bce04c759d0e84f8c7555e9"}, "workspace":
      {"slug": "thiagorramosworkspace", "type": "workspace", "name": "ThiagoRRamosworkspace",
      "uuid": "{727d78e8-7431-4532-9519-1e5fe2b61d4b}"}, "type": "workspace_membership",
      "added_on": "2021-04-02T14:20:48.179"}], "page": 1, "size": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
