{% if requires_license %}
The author of this PR, {{ author_username }}, is not activated in your Codecov Self-Hosted installation.
Please [activate this user]({{ members_url }}) to display this PR comment.
Coverage data is still being uploaded to Codecov Self-Hosted for the purposes of overall coverage calculations.
Please contact your Codecov On-Premises installation administrator with any questions.
{% else %}
The author of this PR, {{ author_username }}, is not an activated member of this organization on Codecov.
Please [activate this user on Codecov]({{ members_url }}) to display this PR comment.
Coverage data is still being uploaded to Codecov.io for purposes of overall coverage calculations.
Please don't hesitate to email us at support@codecov.io with any questions.
{% endif %}
